xml/log.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LogAttivitaMeteo">
    <xs:complexType>
      <xs:attribute name="nomeApplicazione" type="xs:string"/>
      <xs:attribute name="IPClient" type="xs:string"/>
      <xs:attribute name="timestamp" type="xs:string"/>
      <xs:attribute name="nomeEvento" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>